# Python Bytecode
*.py[cod]
*.pyo
*.pyd
*$py.class
__pycache__/

# Virtual Environment
env/
venv/
.venv/
ENV/
ENV.bak/
venv.bak/
.Python


# Django specific files
*.log
*.pot
db.sqlite3
db.sqlite3-journal
local_settings.py
.env
.env.*

# Static and media files (collected or generated)
static/
staticfiles/
media/

# VS Code specific files
.vscode/

# macOS specific files
.DS_Store

# Docker specific files
*.log
