# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
ENV.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal

# Media and static files
/media
/staticfiles

# Django specific:
local_settings.py
.env

# Ignore VS Code specific files
.vscode/

# Mac specific files
.DS_Store
